<footer class="bg-[#2E2E2E]">
  <div class="container grid gap-10 py-[80px] px-8">
    <div
      class="grid md:grid-cols-[60%_minmax(0,1fr)] xl:grid-cols-[40%_repeat(3,minmax(0,1fr))] gap-10 items-center"
    >
      <div class="join-us">
        <h5
          class="font-Hedvig text-[32px] font-[400] leading-[42px] text-[#F6F6F6]"
        >
          Trendify
        </h5>
        <p
          class="font-popins font-[400] text-[14px] leading-[21px] text-Secondtext py-6"
        >
          Join our newsletter to stay up to date on features and releases.
        </p>
        <form class="flex items-center gap-4">
          <div class="email-input">
            <input
              type="email"
              placeholder="Enter your email"
              class="bg-white border border-main rounded-[10px] max-w-[365px] p-3"
            />
          </div>
          <button
            type="submit"
            class="bg-secondColor px-6 py-3 border border-white rounded-[10px] text-[16px] leading-[24px] font-[400] font-Roboto text-white"
          >
            Subscribe
          </button>
        </form>
        <p
          class="p-2 font-popins font-[400] text-[12px] leading-[18px] text-bg pt-4"
        >
          By subscribing you agree to with our Privacy Policy and provide
          consent to receive updates from our company.
        </p>
      </div>
      <div class="about-us grid gap-y-[16px]">
        <h6 class="font-popins font-[600] text-[16px] leading-6 text-white">
          About US
        </h6>
        <ul class="grid gap-2">
          <li>
            <a href="" class="li-style">FAQ </a>
          </li>
          <li>
            <a href="" class="li-style">Contact </a>
          </li>
          <li>
            <a href="" class="li-style">Returns </a>
          </li>
          <li>
            <a href="" class="li-style">Blog </a>
          </li>
          <li>
            <a href="" class="li-style">Shipping</a>
          </li>
        </ul>
      </div>
      <div class="about-us grid gap-4">
        <h6 class="font-popins font-[600] text-[16px] leading-6 text-white">
          Customer Support
        </h6>
        <ul class="grid gap-2">
          <li>
            <a href="" class="li-style">Affiliates </a>
          </li>
          <li>
            <a href="" class="li-style">Apple Pay Payments </a>
          </li>
          <li>
            <a href="" class="li-style">Returns </a>
          </li>
          <li>
            <a href="" class="li-style">Returns Policy </a>
          </li>
          <li>
            <a href="" class="li-style">Returns</a>
          </li>
        </ul>
      </div>
      <div class="about-us grid gap-[11px]">
        <h6 class="font-popins font-[600] text-[16px] leading-6 text-white">
          Follow Us
        </h6>
        <ul>
          <li class="flex gap-3 items-center py-2">
            <i class="fa-brands fa-facebook-f text-bg text-[16px]"></i>
            <a href="" class="li-style">Facebook </a>
          </li>
          <li class="flex gap-3 items-center py-2">
            <i class="fa-brands fa-instagram text-bg text-[16px]"></i>
            <a href="" class="li-style">Instagram </a>
          </li>
          <li class="flex gap-3 items-center py-2">
            <i class="fa-brands fa-twitter text-bg text-[16px]"></i>
            <a href="" class="li-style">twitter </a>
          </li>
          <li class="flex gap-3 items-center py-2">
            <i class="fa-brands fa-linkedin text-bg text-[16px]"></i>
            <a href="" class="li-style">linkedin </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div>
        <p class="text-style">© 2025 Trendify. All rights reserved.</p>
      </div>
      <div class="flex gap-7">
        <span class="text-style">Privacy Policy</span>
        <span class="text-style">Terms of Service</span>
        <span class="text-style">Cookies Settings</span>
      </div>
    </div>
  </div>
</footer>
