.home-page {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

:host {
  background-color: #f6f6f6;
}
.author img {
  width: 30px !important;
  height: 30px !important;
}

.ngx-toastr {
  background-color: rgba(139, 95, 53, 0.338);
}
