<div class="slider">
  <div class="container">
    <owl-carousel-o [options]="registerOption">
      <ng-template carouselSlide>
        <div class="img relative">
          <img
            src="/images/registerSlide.png"
            class="w-full max-w-full h-auto"
            alt=""
          />

          <div
            class="layer absolute top-0 left-0 right-0 bottom-0 w-full bg-[rgba(0,0,0,0.2)] flex flex-col justify-end pb-14 items-center gap-4"
          >
            <div class="text-center">
              <h1
                class="font-popins text-white font-bold text-[32px] leading-[48px]"
              >
                Welcome to Trendify
              </h1>
              <p class="font-popins text-white font-medium text-xl">
                Discover the latest trends,<br />
                express your unique style.
              </p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="img relative">
          <img
            src="/images/registerSlide.png"
            class="w-full max-w-full h-auto"
            alt=""
          />

          <div
            class="layer absolute top-0 left-0 right-0 bottom-0 w-full bg-[rgba(0,0,0,0.2)] flex flex-col justify-end pb-14 items-center gap-4"
          >
            <div class="text-center">
              <h1
                class="font-popins text-white font-bold text-[32px] leading-[48px]"
              >
                Welcome to Trendify
              </h1>
              <p class="font-popins text-white font-medium text-xl">
                Discover the latest trends,<br />
                express your unique style.
              </p>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide>
        <div class="img relative">
          <img
            src="/images/registerSlide.png"
            class="w-full max-w-full h-auto"
            alt=""
          />

          <div
            class="layer absolute top-0 left-0 right-0 bottom-0 w-full bg-[rgba(0,0,0,0.2)] flex flex-col justify-end pb-14 items-center gap-4"
          >
            <div class="text-center">
              <h1
                class="font-popins text-white font-bold text-[32px] leading-[48px]"
              >
                Welcome to Trendify
              </h1>
              <p class="font-popins text-white font-medium text-xl">
                Discover the latest trends,<br />
                express your unique style.
              </p>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
