<section class="pt-20">
  <div class="container px-8 grid gap-16">
    <div class="main-title flex flex-col text-center gap-3">
      <h2
        class="font-popins font-bold text-4xl leading-[54px] capitalize text-text"
      >
        blog
      </h2>
      <p class="font-popins font-normal text-sm text-[#667085]">
        Make your best moments more stylish with our latest designs of clothing.
      </p>
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 mx-auto">
      <div class="main-card max-w-[400px] cursor-pointer overflow-hidden">
        <div class="overflow-hidden">
          <div
            class="card-image hover:scale-125 transition-transform duration-500"
          >
            <img src="/images/blog1.png" alt="blog" class="rounded-[10px]" />
          </div>
        </div>
        <div
          class="card bg-white flex flex-col p-5 gap-5 rounded-bl-[5px] rounded-br-[5px]"
        >
          <div
            class="card-header flex justify-between font-popins text-sm text-[#475467]"
          >
            <span> Fashion </span>
            <span> Dec 30, 2022 </span>
          </div>
          <div class="card-body flex flex-col gap-2">
            <h2
              class="font-archivo font-bold text-lg leading-[20px] text-[#090F41]"
            >
              The perfect Shopify theme
            </h2>
            <p class="font-popins font-normal text-sm text-[##475467]">
              Shopify is the second most popular eCommerce store builder in the
              world. You can use Shopify in nearly every coun
            </p>
          </div>
        </div>
      </div>

      <!-- =card2 -->
      <div class="main-card max-w-[400px] cursor-pointer">
        <div class="overflow-hidden">
          <div
            class="card-image hover:scale-125 transition-transform duration-500"
          >
            <img src="/images/blog2.png" alt="blog" class="rounded-[10px]" />
          </div>
        </div>
        <div
          class="card bg-white flex flex-col p-5 gap-5 rounded-bl-[5px] rounded-br-[5px]"
        >
          <div
            class="card-header flex justify-between font-popins text-sm text-[#475467]"
          >
            <span> Fashion </span>
            <span> Dec 30, 2022 </span>
          </div>
          <div class="card-body flex flex-col gap-2">
            <h2
              class="font-archivo font-bold text-lg leading-[20px] text-[#090F41]"
            >
              The perfect Shopify theme
            </h2>
            <p class="font-popins font-normal text-sm text-[##475467]">
              Shopify is the second most popular eCommerce store builder in the
              world. You can use Shopify in nearly every coun
            </p>
          </div>
        </div>
      </div>

      <!-- =card3 -->
      <div class="main-card max-w-[400px] cursor-pointer">
        <div class="overflow-hidden">
          <div
            class="card-image hover:scale-125 transition-transform duration-500"
          >
            <img src="/images/blog3.png" alt="blog" class="rounded-[10px]" />
          </div>
        </div>
        <div
          class="card bg-white flex flex-col p-5 gap-5 rounded-bl-[5px] rounded-br-[5px]"
        >
          <div
            class="card-header flex justify-between font-popins text-sm text-[#475467]"
          >
            <span> Fashion </span>
            <span> Dec 30, 2022 </span>
          </div>
          <div class="card-body flex flex-col gap-2">
            <h2
              class="font-archivo font-bold text-lg leading-[20px] text-[#090F41]"
            >
              The perfect Shopify theme
            </h2>
            <p class="font-popins font-normal text-sm text-[##475467]">
              Shopify is the second most popular eCommerce store builder in the
              world. You can use Shopify in nearly every coun
            </p>
          </div>
        </div>
      </div>

      <!-- =card4 -->
      <div class="main-card max-w-[400px] cursor-pointer">
        <div class="overflow-hidden">
          <div
            class="card-image hover:scale-125 transition-transform duration-500"
          >
            <img src="/images/blog4.png" alt="blog" class="rounded-[10px]" />
          </div>
        </div>
        <div
          class="card bg-white flex flex-col p-5 gap-5 rounded-bl-[5px] rounded-br-[5px]"
        >
          <div
            class="card-header flex justify-between font-popins text-sm text-[#475467]"
          >
            <span> Fashion </span>
            <span> Dec 30, 2022 </span>
          </div>
          <div class="card-body flex flex-col gap-2">
            <h2
              class="font-archivo font-bold text-lg leading-[20px] text-[#090F41]"
            >
              The perfect Shopify theme
            </h2>
            <p class="font-popins font-normal text-sm text-[##475467]">
              Shopify is the second most popular eCommerce store builder in the
              world. You can use Shopify in nearly every coun
            </p>
          </div>
        </div>
      </div>

      <!-- =card5 -->
      <div class="main-card max-w-[400px] cursor-pointer">
        <div class="overflow-hidden">
          <div
            class="card-image hover:scale-125 transition-transform duration-500"
          >
            <img src="/images/blog5.png" alt="blog" class="rounded-[10px]" />
          </div>
        </div>
        <div
          class="card bg-white flex flex-col p-5 gap-5 rounded-bl-[5px] rounded-br-[5px]"
        >
          <div
            class="card-header flex justify-between font-popins text-sm text-[#475467]"
          >
            <span> Fashion </span>
            <span> Dec 30, 2022 </span>
          </div>
          <div class="card-body flex flex-col gap-2">
            <h2
              class="font-archivo font-bold text-lg leading-[20px] text-[#090F41]"
            >
              The perfect Shopify theme
            </h2>
            <p class="font-popins font-normal text-sm text-[##475467]">
              Shopify is the second most popular eCommerce store builder in the
              world. You can use Shopify in nearly every coun
            </p>
          </div>
        </div>
      </div>

      <!-- =card6 -->
      <div class="main-card max-w-[400px] cursor-pointer">
        <div class="overflow-hidden">
          <div
            class="card-image hover:scale-125 transition-transform duration-500"
          >
            <img src="/images/blog6.png" alt="blog" class="rounded-[10px]" />
          </div>
        </div>
        <div
          class="card bg-white flex flex-col p-5 gap-5 rounded-bl-[5px] rounded-br-[5px]"
        >
          <div
            class="card-header flex justify-between font-popins text-sm text-[#475467]"
          >
            <span> Fashion </span>
            <span> Dec 30, 2022 </span>
          </div>
          <div class="card-body flex flex-col gap-2">
            <h2
              class="font-archivo font-bold text-lg leading-[20px] text-[#090F41]"
            >
              The perfect Shopify theme
            </h2>
            <p class="font-popins font-normal text-sm text-[##475467]">
              Shopify is the second most popular eCommerce store builder in the
              world. You can use Shopify in nearly every coun
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-news></app-news>
