<section class="py-20">
  <div class="container px-12">
    <div class="bg-white py-20">
      <div class="flex flex-col justify-center items-center gap-5">
        <span class="text-main text-5xl">
          <i class="fa-solid fa-envelope"></i>
        </span>
        <h4 class="text-[#090F41] font-popins text-base font-medium">
          SIGN UP FOR TEEMATE STYLE NEWS
        </h4>
        <p class="font-popins font-medium text-sm text-[#667085] text-center">
          Get 15% off your first purchaxse! Plus, be the first to know about
          sales,<br />
          new product launches and exclusive offers!
        </p>
        <div class="flex flex-wrap items-center justify-center gap-4">
          <input
            placeholder="Enter Your Email"
            type="email"
            id="news"
            class="rounded-[10px] border border-main bg-white p-4 focus:border-main"
          />

          <button
            class="bg-secondColor font-Roboto font-normal text-base text-white py-3 px-6 rounded-[10px]"
          >
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
