<section class="pt-20">
  <div class="container px-8">
    <div
      class="grid sm:grid-cols-[30%_minmax(0,1fr)] pt-6 pb-16 lg:px-24 gap-16 items-center"
    >
      <div class="img order-1 sm:order-2 h-[500px] sm:h-[600px]">
        <img
          src="/images/ggirl.jpeg"
          class="rounded-[40px] w-full h-full border border-[#EAECF0]"
          alt=""
        />
      </div>
      <div
        class="box order-2 sm:order-1 z-10 p-12 flex flex-col gap-5 bg-[#ffffff83] h-[480px] sm:w-[375px] md:h-[500px] md:w-[530px] border border-[#EAECF0] shadow-[0px_8px_24px_0px_rgba(149,157,165,0.2)]"
      >
        <div class="icon flex">
          <span class="text-[25px] text-main">
            <i class="fa-solid fa-quote-left"></i>
          </span>
        </div>
        <p
          class="text-[rgba(52, 64, 84, 1)] font-popins italic font-medium text-xl"
        >
          We are glad to present you our most perfect Shopify theme, which
          supports Sections Everywhere, very high metric scores by google page
          speed insight. This is the most mobile-oriented theme that will be
          convenient on any of your devices.
        </p>
        <div class="signature flex justify-between items-center">
          <span class="font-popins font-semibold text-base text-text"
            >Jack Donowan</span
          >
          <img
            src="/images/download.png"
            class="w-[100px] md:w-[200px]"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-[rgba(255, 255, 255, 1)] pt-16 px-8 xl:px-24">
  <div class="container grid gap-16">
    <div class="main-title text-center">
      <h2 class="font-popins font-bold text-[36px] leading-[54px] text-text">
        A few words about us
      </h2>
      <p class="font-popins font-normal text-base text-Secondtext">
        Make your best moments more stylish with our latest designs of clothing.
      </p>
    </div>
    <div class="grid md:grid-cols-2 gap-24 items-center">
      <div class="img-layers">
        <img src="/images/about1.png" class="rounded-[35px]" alt="" />
      </div>
      <div class="About flex flex-col gap-4">
        <h2 class="font-popins font-bold text-2xl text-text">
          Why choose us ?
        </h2>
        <p
          class="font-popins font-normal text-lg text-balance text-[rgb(71,84,103)]"
        >
          Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id
          arcu id scelerisque. Ut ullamcorper rutrum justo, at blandit eros
          maximus ut. Integer non tincidunt justo, rhoncus Aenean venenatis sed
          purus ac sollicitudin. Nulla mauris risus, commodo et luctus rutrum,
          lobortis sed mauris. Integer congue, sem elementum varius tristique.
        </p>
      </div>

      <!-- 2 -->

      <div class="online-shopping flex flex-col gap-4">
        <h2 class="font-popins font-bold text-2xl text-text">
          Trusted online shopping
        </h2>
        <p
          class="font-popins font-normal text-lg text-balance text-[rgb(71,84,103)]"
        >
          Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id
          arcu id scelerisque. Ut ullamcorper rutrum justo, at blandit eros
          maximus ut. Integer non tincidunt justo, rhoncus Aenean venenatis sed
          purus ac sollicitudin. Nulla mauris risus, commodo et luctus rutrum,
          lobortis sed mauris. Integer congue, sem elementum varius tristique.
        </p>
      </div>
      <div class="img-online-shopping">
        <img src="/images/about2.png" class="rounded-[35px]" alt="" />
      </div>

      <!-- 3 -->
      <div class="shop">
        <img src="/images/about3.png" class="rounded-[35px]" alt="" />
      </div>
      <div class="flex flex-col gap-4">
        <h2 class="font-popins font-bold text-2xl text-text">
          Trusted online shopping
        </h2>
        <p
          class="font-popins font-normal text-lg text-balance text-[rgb(71,84,103)]"
        >
          Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id
          arcu id scelerisque. Ut ullamcorper rutrum justo, at blandit eros
          maximus ut. Integer non tincidunt justo, rhoncus Aenean venenatis sed
          purus ac sollicitudin. Nulla mauris risus, commodo et luctus rutrum,
          lobortis sed mauris. Integer congue, sem elementum varius tristique.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-16">
  <div class="container grid gap-16">
    <div class="main-title text-center">
      <!-- <h2 class="font-popins font-bold text-[36px] leading-[54px] text-text">
              A few words about us
            </h2> -->
      <div class="flex gap-3 justify-center items-center">
        <span>
          <i class="fa-brands fa-instagram text-main text-[24px]"></i>
        </span>
        <h2
          class="font-popins font-bold italic text-4xl leading-[54px] text-main"
        >
          #iconic_fashion
        </h2>
        <h2
          class="font-popins font-bold text-text text-2xl leading-[54px] md:text-4xl"
        >
          On Instagram
        </h2>
      </div>
      <p class="font-popins font-normal text-base text-Secondtext">
        Phasellus lorem malesuada ligula pulvinar commodo maecenas
      </p>
    </div>

    <div class="img">
      <img src="/images/Frame 74.png" alt="" />
    </div>
  </div>
</section>
