<!-- <div
  (click)="hideModal($event)"
  #popupModal
  class="hidden overflow-y-auto bg-[#00000078] overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 max-h-full"
>
  <div class="relative p-4 w-full max-w-[450px] shadow-xl bg-white mx-auto">
    <div class="relative bg-white rounded-lg dark:bg-gray-700">
      <button
        (click)="closeModal()"
        type="button"
        class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
      >
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <form [formGroup]="address" (ngSubmit)="submitAddressForm()">
        <div class="p-4 md:p-5">
          <div class="name flex flex-col gap-3 my-3">
            <label
              for="name"
              class="font-popins font-medium text-base capitalize"
            >
              Your name</label
            >
            <input
              formControlName="name"
              type="text"
              id="name"
              placeholder="Enter Your Name"
              class="rounded-md border py-3 px-6 bg-transparent border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
            />
          </div>
          <div class="address flex flex-col gap-3 my-3">
            <label
              for="details"
              class="font-popins font-medium text-base capitalize"
            >
              Address line 1</label
            >
            <input
              formControlName="details"
              type="text"
              id="details"
              placeholder="Enter Your Address "
              class="rounded-md border py-3 px-6 bg-transparent border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
            />
          </div>

          <div class="city flex flex-col gap-3 my-3">
            <label
              for="city"
              class="font-popins font-medium text-base capitalize"
            >
              City</label
            >
            <input
              formControlName="city"
              type="text"
              id="city"
              placeholder="Enter City Were You Born "
              class="rounded-md border py-3 px-6 bg-transparent border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
            />
          </div>

          <div class="phone flex flex-col gap-3 my-3">
            <label
              for="phone"
              class="font-popins font-medium text-base capitalize"
            >
              phone</label
            >
            <input
              formControlName="phone"
              type="text"
              id="phone"
              placeholder="Enter Your Phone "
              class="rounded-md border py-3 px-6 bg-transparent border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
            />
          </div>

          <div class="grid grid-cols-2">
            <div class="flex items-center mb-4">
              <input
                formControlName="addressType"
                id="addressType"
                type="radio"
                name="addressType"
                value="home"
                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="addressType"
                class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >
                Home
              </label>
            </div>

            <div class="flex items-center mb-4">
              <input
                formControlName="addressType"
                id="addressType"
                type="radio"
                name="addressType"
                value="Work"
                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
              />
              <label
                for="addressType"
                class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >
                Work
              </label>
            </div>
          </div>

          <button
            type="submit"
            class="text-white capitalize bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
          >
            Add Address
          </button>
          <button
            (click)="closeModal()"
            type="button"
            class="py-2.5 px-5 capitalize ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
          >
            cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->
