.clip-badge {
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
}

.empty-cart {
  background-image: url("/images/emptyCart.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
}
