<section class="py-20">
  <div class="container px-8 flex flex-col gap-10">
    <div class="title">
      <h2 class="capitalize text-2xl font-popins font-medium">orders</h2>
      <p class="text-[#7e859b] text-base font-normal">
        View the delivery status for items and your order history
      </p>
    </div>
    <div class="order flex flex-col gap-5">
      <div class="order__header">
        <div class="order__header__title">
          <h3
            class="capitalize text-[#404553] text-lg font-bold leading-7 font-popins"
          >
            All orders
          </h3>
        </div>
      </div>
      @for (order of userOrders; track order._id) { @if (order.isPaid) {
      <div
        class="order-box bg-white rounded-lg shadow-md cursor-pointer hover:border flex flex-col gap-5 p-8"
      >
        <div class="order-box__header flex gap-5">
          <span class="text-green-500 font-popins font-semibold capitalize">{{
            order.isPaid ? "completed" : "Not Completed"
          }}</span>
          <span class="text-[#404553] font-popins font-normal text-base"
            >on{{ order.paidAt }}</span
          >
        </div>
        <div class="order-box__body flex justify-between items-center">
          <div class="order-box__body__item flex gap-5">
            <div class="order-box__body__item__image flex flex-col gap-5">
              @for (orderDetailes of order.cartItems; track orderDetailes._id) {
              <div class="flex gap-5">
                <img
                  [src]="orderDetailes.product.imageCover"
                  [alt]="orderDetailes.product.title"
                  class="w-20 h-20 object-cover rounded-lg"
                />

                <div class="order-box__body__item__details">
                  <p class="text-[#404553] text-[12px] font-normal leading-4">
                    {{ orderDetailes.product.title }}
                  </p>
                </div>
              </div>

              }
            </div>
          </div>
          <span class="icon text-[#404553]">
            <i class="fa fa-chevron-right"></i>
          </span>
        </div>
        @for (id of order.cartItems; track $index) { @if (order.cartItems.length
        <= 1) {
        <p
          class="self-end font-popins font-normal text-[#9ba0b1] leading-[17px] text-xs"
        >
          Order ID
          <span class="font-semibold">{{ id.product._id }}</span>
        </p>
        } }
      </div>
      } }
    </div>
  </div>
</section>
