<div class="section py-20">
  <div class="container px-8">
    <div class="grid grid-cols-1">
      <div class="register-form flex flex-col gap-6 px-[100px] justify-center">
        <div class="info">
          <h2 class="font-popins text-[32px] leading-[48px] text-text">
            Welcome!
          </h2>
          <span
            class="font-popins font-normal text-lg text-Secondtext capitalize"
          >
            {{
              step == 1 ? "Please enter your email to reset your password." : ""
            }}
            {{
              step == 2
                ? "Please enter your reset code to proceed with password recovery."
                : ""
            }}
            {{
              step == 3
                ? "Please enter your email and your new password to proceed."
                : ""
            }}
          </span>
        </div>

        @if (step == 1) {
        <form
          [formGroup]="verifyEmail"
          (ngSubmit)="sendVerficationCode()"
          class="flex flex-col gap-6"
        >
          <div class="Email flex flex-col relative gap-2">
            <label
              for="email"
              class="font-popins font-medium text-lg text-text"
            >
              E-Mail
            </label>
            <input
              formControlName="email"
              placeholder="Mohammed@gmail.com"
              type="email"
              id="email"
              class="rounded-[8px] border-white bg-white px-8 focus:border-0"
            />
            <span
              class="text-main bg-transparent absolute left-[10px] top-[46px]"
            >
              <i class="fa-regular fa-envelope"></i>
            </span>

            @if
            (verifyEmail.touched&&verifyEmail.get('email')?.hasError("required"))
            {
            <div
              class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="shrink-0 inline w-4 h-4 me-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div>
                <span class="font-medium">
                  Oops! It looks like you forgot to enter your email. Please
                  provide it to proceed."
                </span>
              </div>
            </div>
            } @if
            (verifyEmail.touched&&verifyEmail.get('email')?.hasError("email")) {
            <div
              class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="shrink-0 inline w-4 h-4 me-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div>
                <span class="font-medium">
                  Oops! That doesn't look like a valid email. Please enter a
                  correct email address to continue.
                </span>
              </div>
            </div>
            } @if (showSuccessAlert) {
            <div
              class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 capitalize"
              role="alert"
            >
              <span class="font-medium mr-2">{{ status ? status : "" }}</span
              >{{ messageVerify ? messageVerify : "" }}
              <span class="block py-4">
                You Will be redirected In few Second ......
              </span>
            </div>
            }@else if (showErrorAlert) {

            <div
              class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100 capitalize"
              role="alert"
            >
              <span class="font-medium mr-2">{{ status ? status : "" }}</span
              >{{ messageVerify ? messageVerify : "" }}
            </div>
            }
          </div>

          <button
            [disabled]="isloding"
            [disabled]="verifyEmail.invalid"
            type="submit"
            class="text-white self-center capitalize bg-main min-w-fit px-5 m-auto py-4 disabled:bg-gray-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center"
          >
            {{ isloding ? "loading..." : "send verfication code" }}

            @if (isloding) {
            <svg
              aria-hidden="true"
              role="status"
              class="inline w-4 h-4 me-3 text-white animate-spin"
              viewBox="0 0 100 101"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="#E5E7EB"
              />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentColor"
              />
            </svg>
            }
          </button>
        </form>
        } @else if (step==2) {
        <form
          [formGroup]="resetCode"
          (ngSubmit)="submitResetCode()"
          class="flex flex-col gap-6"
        >
          <div class="resetCode flex flex-col relative gap-2">
            <label
              for="resetCode"
              class="font-popins font-medium text-lg text-text"
            >
              Reset Code
            </label>
            <input
              formControlName="resetCode"
              placeholder="Enter Reset Code"
              type="text"
              id="resetCode"
              class="rounded-[8px] border-white bg-white px-8 focus:border-0"
            />
            <span
              class="text-main bg-transparent absolute left-[10px] top-[45px]"
            >
              <i class="fa-solid fa-inbox"></i>
            </span>

            @if
            (resetCode.touched&&resetCode.get('resetCode')?.hasError("required"))
            {
            <div
              class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="shrink-0 inline w-4 h-4 me-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div>
                <span class="font-medium">
                  Oops! You forgot to enter the reset code. Please enter it to
                  proceed.
                </span>
              </div>
            </div>
            } @if
            (resetCode.touched&&resetCode.get('resetCode')?.hasError("pattern"))
            {
            <div
              class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="shrink-0 inline w-4 h-4 me-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div>
                Hmm... Reset codes are usually 6 digits long. Please
                double-check your entry, and make sure there are no extra spaces
                at the end, then try again!
              </div>
            </div>
            } @if (showSuccessAlert) {
            <div
              class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 capitalize"
              role="alert"
            >
              <span class="font-medium mr-2">{{
                status ? status : "Success!"
              }}</span
              >{{
                messageVerify
                  ? messageVerify
                  : "Your reset code has been verified successfully."
              }}
              <span class="block py-4">
                You will be redirected in a few seconds...
              </span>
            </div>
            }@else if (showErrorAlert) {

            <div
              class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100 capitalize"
              role="alert"
            >
              <span class="font-medium mr-2">{{ status ? status : "" }}</span
              >{{ messageVerify ? messageVerify : "" }}
            </div>
            }
          </div>

          <button
            [disabled]="isloding"
            [disabled]="resetCode.invalid"
            type="submit"
            class="text-white self-center capitalize bg-main min-w-fit px-5 m-auto py-4 disabled:bg-gray-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center"
          >
            {{ isloding ? "loading..." : "submit verfication code" }}

            @if (isloding) {
            <svg
              aria-hidden="true"
              role="status"
              class="inline w-4 h-4 me-3 text-white animate-spin"
              viewBox="0 0 100 101"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="#E5E7EB"
              />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentColor"
              />
            </svg>
            }
          </button>
        </form>
        }@else if (step==3) {
        <form
          [formGroup]="resetPassword"
          (ngSubmit)="changePassword()"
          class="flex flex-col gap-6"
        >
          <div class="Email flex flex-col relative gap-2">
            <label
              for="email"
              class="font-popins font-medium text-lg text-text"
            >
              E-Mail
            </label>
            <input
              formControlName="email"
              readonly
              type="email"
              id="email"
              class="rounded-[8px] border-white bg-white px-8 focus:border-0 font-black"
            />
            <span
              class="text-main bg-transparent absolute left-[10px] top-[46px]"
            >
              <i class="fa-regular fa-envelope"></i>
            </span>

            @if (resetPassword.get("email")?.touched
            &&resetPassword.get('email')?.hasError("required")) {
            <div
              class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="shrink-0 inline w-4 h-4 me-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div>
                <span class="font-medium">
                  Oops! It looks like you forgot to enter your email. Please
                  provide it to proceed."
                </span>
              </div>
            </div>
            } @if (resetPassword.get("email")?.touched &&
            resetPassword.get('email')?.hasError('email')) {
            <div
              class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="shrink-0 inline w-4 h-4 me-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div>
                <span class="font-medium">
                  Oops! That doesn't look like a valid email. Please enter a
                  correct email address to continue.
                </span>
              </div>
            </div>
            }
          </div>
          <div class="newPassword flex flex-col relative gap-2">
            <label
              for="newPassword"
              class="font-popins font-medium text-lg text-text"
            >
              New Password
            </label>
            <input
              formControlName="newPassword"
              placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
              type="password"
              id="newPassword"
              class="rounded-[8px] border-white bg-white px-8 focus:border-0"
            />
            <span
              class="text-main bg-transparent absolute left-[10px] top-[44px]"
            >
              <i class="fa-solid fa-lock"></i>
            </span>

            @if
            (resetPassword.get("newPassword")?.touched&&resetPassword.get('newPassword')?.hasError("required"))
            {
            <div
              class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="shrink-0 inline w-4 h-4 me-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div>
                <span class="font-medium">
                  Your new password is needed to proceed. Please enter a secure
                  one!
                </span>
              </div>
            </div>
            } @if
            (resetPassword.get("newPassword")?.touched&&resetPassword.get("newPassword")?.hasError("pattern"))
            {

            <div
              class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="shrink-0 inline w-4 h-4 me-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>
              <span class="sr-only">Info</span>
              <div>
                <span class="font-medium">
                  Your password must start with a capital letter and be at least
                  8 characters long. Special characters are optional. Please
                  enter a valid password!
                </span>
              </div>
            </div>

            }
          </div>

          @if (showSuccessAlert) {
          <div
            class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 capitalize"
            role="alert"
          >
            <span class="font-medium mr-2">{{
              status ? status : "Success!"
            }}</span
            >{{
              messageVerify
                ? messageVerify
                : "  Your password has been changed successfully."
            }}
            <span class="block py-4">
              You will be redirected in a few seconds To Home Again .....
            </span>
          </div>
          }@else if (showErrorAlert) {

          <div
            class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100 capitalize"
            role="alert"
          >
            <span class="font-medium mr-2">{{ status ? status : "" }}</span
            >{{ messageVerify ? messageVerify : "" }}
          </div>
          }

          <button
            [disabled]="isloding"
            [disabled]="resetPassword.invalid"
            type="submit"
            class="text-white self-center capitalize bg-main min-w-fit px-5 m-auto py-4 disabled:bg-gray-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center"
          >
            {{ isloding ? "loading..." : "Change password" }}

            @if (isloding) {
            <svg
              aria-hidden="true"
              role="status"
              class="inline w-4 h-4 me-3 text-white animate-spin"
              viewBox="0 0 100 101"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="#E5E7EB"
              />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentColor"
              />
            </svg>
            }
          </button>
        </form>
        }
      </div>
    </div>
  </div>
</div>
