<section class="py-20">
  <div class="container px-8 space-y-[40px]">
    <div class="Main-title text-center space-y-2">
      <h2 class="font-Hedvig font-normal text-[32px] text-main leading-[43px]">
        Your Wishlist
      </h2>
      <h3
        class="font-popins font-semibold text-[40px] text-[#090F41] leading-[60px]"
      >
        Save Your Favorites for Later!
      </h3>
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-[21px]">
      @for (product of userWData; track product.id) {
      <app-card
        [showAddedIcon]="false"
        [product]="product"
        [deleteProdList]="deletProductFromWish"
      ></app-card>
      }
    </div>
  </div>
</section>
